alembic==1.7.5
attrs==21.4.0
autopep8==1.5.7
cachetools==4.2.4
camelot-py==0.10.1
certifi==2021.10.8
cffi==1.15.0
chardet==4.0.0
charset-normalizer==2.0.10
click==8.0.3
cryptography==35.0.0
distro==1.6.0
et-xmlfile==1.1.0
Flask==2.0.2
flask-marshmallow==0.14.0
Flask-Migrate==3.1.0
Flask-Script==2.0.6
Flask-SQLAlchemy==2.5.1
ghostscript==0.7
google-api-core==2.3.2
google-api-python-client==2.33.0
google-auth==2.3.3
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.4.6
googleapis-common-protos==1.54.0
greenlet==1.1.2
httplib2==0.20.2
idna==3.3
iniconfig==1.1.1
itsdangerous==2.0.1
Jinja2==3.0.3
lxml==4.6.3
Mako==1.1.6
MarkupSafe==2.0.1
marshmallow==3.14.1
marshmallow-sqlalchemy==0.27.0
numpy==1.21.2
oauthlib==3.1.1
opencv-python==4.5.3.56
openpyxl==3.0.9
packaging==21.3
pandas==1.3.4
pdfminer.six==20211012
pdftopng==0.2.3
pikepdf==3.2.0
Pillow==8.4.0
pluggy==1.0.0
protobuf==3.19.1
py==1.11.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.8.0
pycparser==2.20
PyJWT==2.3.0
pyparsing==3.0.6
PyPDF2==1.26.0
pytest==6.2.5
python-dateutil==2.8.2
python-dotenv==0.19.2
pytz==2021.3
requests==2.27.0
requests-oauthlib==1.3.0
rsa==4.8
six==1.16.0
SQLAlchemy==1.4.29
tabula-py==2.3.0
tabulate==0.8.9
toml==0.10.2
uritemplate==4.1.1
urllib3==1.26.7
Werkzeug==2.0.2
